<?xml version="1.0"?>
<config>

    <modules>
        <AW_Ascurl>
            <version>1.3.2</version><platform>ce</platform>
        </AW_Ascurl>
    </modules>

    <admin>
        <routers>
            <ascurl>
                <use>admin</use>
                <args>
                    <module>AW_Ascurl</module>
                    <frontName>ascurl_admin</frontName>
                </args>
            </ascurl>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ascurl module="AW_Ascurl">
                    <file>aw_ascurl.xml</file>
                </ascurl>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <ascurl module="AW_Ascurl">
                    <file>aw_ascurl.xml</file>
                </ascurl>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <ascurl>
                <class>AW_Ascurl_Model</class>
                <resourceModel>ascurl_mysql4</resourceModel>
            </ascurl>
            <catalog>                
                <rewrite>                        
                </rewrite>
                <d_rewrite_product_url>
                    <product_url>AW_Ascurl_Model_Catalog_Product_Url</product_url>
                </d_rewrite_product_url>
            </catalog>
            <sitemap>                
                <rewrite>                       
                </rewrite>
                <d_rewrite_sitemap>
                    <sitemap>AW_Ascurl_Model_Sitemap</sitemap>
                </d_rewrite_sitemap>
            </sitemap>
            <sitemap_mysql4>                
                <rewrite>                   
                </rewrite>
                <d_rewrite_sitemap_mysql4>
                    <catalog_product>AW_Ascurl_Model_Mysql4_Sitemap_Catalog_Product</catalog_product>
                    <cms_page>AW_Ascurl_Model_Mysql4_Cms_Page</cms_page>
                </d_rewrite_sitemap_mysql4>
            </sitemap_mysql4>
            <ascurl_mysql4>
                <class>AW_Ascurl_Model_Mysql4</class>
                <entities>
                    <cms>
                        <table>aw_ascurl_cms</table>
                    </cms>
                </entities>
            </ascurl_mysql4>
        </models>

        <blocks>
            <ascurl>
                <class>AW_Ascurl_Block</class>
            </ascurl>
            <adminhtml>
                <rewrite>                    
                </rewrite>
                <d_rewrite>
                    <cms_page_edit_tab_meta>AW_Ascurl_Block_Adminhtml_Cms_Page_Edit_Tab_Meta</cms_page_edit_tab_meta>
                </d_rewrite>                
            </adminhtml>
        </blocks>

        <helpers>
            <ascurl>
                <class>AW_Ascurl_Helper</class>
            </ascurl>
        </helpers>

        <resources>
            <ascurl_setup>
                <setup>
                    <module>AW_Ascurl</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <setup>
                    <module>AW_Ascurl</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ascurl_setup>
            <ascurl_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ascurl_write>
            <ascurl_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ascurl_read>
        </resources>

        <events>            
            <controller_action_predispatch>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>ascurl/observer</class>
                        <method>pageLoadBefore</method>
                    </front_controller_predispatch>
                </observers>
            </controller_action_predispatch>            
            <adminhtml_cms_page_edit_tab_meta_prepare_form>
                <observers>
                    <ascurl_cms_meta_observer>
                        <type>singleton</type>
                        <class>ascurl/observer</class>
                        <method>addFieldsToCmsMeta</method>
                    </ascurl_cms_meta_observer>
                </observers>
            </adminhtml_cms_page_edit_tab_meta_prepare_form>
            <cms_page_save_after>
                <observers>
                    <ascurl_cms_page_save_after>
                        <type>singleton</type>
                        <class>ascurl/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </ascurl_cms_page_save_after>
                </observers>
            </cms_page_save_after>
            <cms_page_load_after>
                <observers>
                    <ascurl_cms_page_load_after>
                        <type>singleton</type>
                        <class>ascurl/observer</class>
                        <method>cmsPageLoadAfter</method>
                    </ascurl_cms_page_load_after>
                </observers>
            </cms_page_load_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ascurl_cannonical_link_add>
                        <type>singleton</type>
                        <class>ascurl/observer</class>
                        <method>addCannonicalUrlToHead</method>
                    </ascurl_cannonical_link_add>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </global>
    

</config>
